#----------------------------------------------------------------------
#
# RT-Component manager configuration
#
# Copyright (c) 2003-2005 Noriaki Ando <n-ando@aist.go.jp>
#      Task-intelligence Research Group,
#      Intelligent Systems Research Institute,
#      National Institute of
#          Advanced Industrial Science and Technology (AIST), Japan
#      All rights reserved.
#
# $Id: rtc.conf.sample,v 1.1.1.1 2005-05-12 09:06:19 n-ando Exp $
# 
#----------------------------------------------------------------------
#
# $Log: not supported by cvs2svn $
#

#------------------------------------------------------------
#
# ORB ID
#
#ORBid	omniORB4

#------------------------------------------------------------
# CORBA name server setting [MANDATORY]
#
# NameServer host_name:port_number
#
# for example
# NameServer openrtm.aist.go.jp:9876
#
# If port number is abbreviated, default port number is used.
# The default port number is depend on ORB implementation.
#
NameServer	giko.a02.aist.go.jp
#NameServer	ti-ohrp3.a02.aist.go.jp:5005

# 
# Default interface IP address and port number of IIOP
#
# IIOPAddrPort  host_name:port_number
#
#IIOPAddrPort	myhost.mydomain
#IIOPAddrPort	myhost.mydomain:8888


#------------------------------------------------------------
# Default path of loadable components installed.
#
#
#ComponentLoadPath	.:/usr/lib:/usr/local/lib


#------------------------------------------------------------
# Log file name
#
# Default log file name is "rtm(pid).log". (pid = process id)
#
#LogFile		/var/log/rtc.log

#------------------------------------------------------------
# LogLevel setting
#
# The following LogLevels are allowed.
# SILENT, ERROR, WARN, NORMAL, INFO, DEBUG, TRACE, VERBOSE, PARANOID
#
#
# SILENT  : completely silent
# ERROR   : includes (ERROR)
# WARN    : includes (ERROR, WARN)
# INFO    : includes (ERROR, WARN, INFO)
# NORMAL  : includes (ERROR, WARN, INFO, NORMAL)
# DEBUG   : includes (ERROR, WARN, INFO, NORMAL, DEBUG)
# TRACE   : includes (ERROR, WARN, INFO, NORMAL, DEBUG, TRACE)
# VERBOSE : includes (ERROR, WARN, INFO, NORMAL, DEBUG, TRACE, VERBOSE)
# PARANOID: includes (ERROR, WARN, INFO, NORMAL, DEBUG, TRACE, VERBOSE, PARA)
#
# Warning!!!
# "TRACE", "VERBOSE", "PARANOID" logging level will create a huge log file!!
# "PARANOID" log level will tangle the log file.
#
#LogLevel	NORMAL

#------------------------------------------------------------
# Log stream mutex setting
#
# The following values are allowed.
# Yes or No, Enable or Disable.
# [Yy][Ee][Ss] or [Nn][Oo]
# [Ee][Nn][Aa][Bb][Ll][Ee] or [Dd][Ii][Ss][Aa][Bb][Ll][Ee] 
#
#LogStreamLock disable

#------------------------------------------------------------
# Date/time format of the prefix of log messages
#
# The following strftime(3) like format expression is available.
# If no prefix is needed, use "No" or "Disable".
# 
# %a abbreviated weekday name 
# %A full weekday name 
# %b abbreviated month name 
# %B full month name 
# %c the standard date and time string 
# %d day of the month, as a number (1-31) 
# %H hour, 24 hour format (0-23) 
# %I hour, 12 hour format (1-12) 
# %j day of the year, as a number (1-366) 
# %m month as a number (1-12).
#    Note: some versions of Microsoft Visual C++ may use values that range
#    from 0-11. 
# %M minute as a number (0-59) 
# %p locale's equivalent of AM or PM 
# %S second as a number (0-59) 
# %U week of the year, sunday as the first day 
# %w weekday as a decimal (0-6, sunday=0) 
# %W week of the year, monday as the first day 
# %x standard date string 
# %X standard time string 
# %y year in decimal, without the century (0-99) 
# %Y year in decimal, with the century 
# %Z time zone name 
# %% a percent sign 
#
#LogTimeFormat	No
#LogTimeFormat	Disable
#LogTimeFormat	[%Y-%m-%dT%H.%M.%S%Z]     // W3C standard format
#LogTimeFormat	[%b %d %H:%M:%S]          // Syslog format
#LogTimeFormat  [%a %b %d %Y %H:%M:%S %Z] // RFC2822 format
#LogTimeFormat  [%a %b %d %H:%M:%S %Z %Y] // data command format
#LogTimeFormat	[%Y-%m-%d %H.%M.%S]


#
# Set master logger component's name
#
#MasterLoggerName		/MasterLogger|rtc


#
# Use master logger
#
# If use the master logger in the domain, set Yes
#
#UseMasterLogger			Yes


#
# CreateMasterLogger
#
# Yes - Create master logger on this RT-Component manager, if no master logger
#       can be found in the domain.
# No - Do nothing, if no master logger can be found in the domain.
#
#CreateMasterLogger		Yes


#
# PreferredMasterLogger
#
# Yes - This manager create a master logger in this domain and overwrite
#       other master logger entry in a name server.
# No - Do nothing.
#
#PreferredMasterLogger	Yes



